* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    overflow: hidden;
}

.animal-item, .headingPage__title,
.setting, .random-animals__btn,
.headingPage__mode,
.radom_result__item, .model__page__close {
    user-select: none;
    -webkit-user-select: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

    }
}

@keyframes moveDown_model {
    from {
        transform: translateY(-430px);
    }
    to {
        transform: translateY(-50%);
    }
}