body {
    background-color: rgb(54, 44, 53);
}

.setting__icon--2 {
    color: #fff;
}

.animal-item {
    background-color: rgb(248, 239, 247);
}
.animal-item:hover {
    background-color: rgb(119, 80, 100);
}
.animal-item.active  {
    background-color: #f5a5bb;
}


.random-animals {
    background-color: #816771;
    
}

.panel_bet {
    background-color: rgb(48, 46, 46);
}

.random-animals__btn {
    background-color: rgb(233, 133, 158);
    color: rgb(250, 243, 244);
    box-shadow: 0px 5px 0 3px rgb(133, 113, 130);

}

.model__overlay {
    background-color: rgba(190, 194, 194, 0.616);
}